.productId_container {
    width: 100%;
    display: flex;
    // align-items: center;
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
    .productId_leftSide {
        background-color: grey;
        padding: 10px;
        border-radius: 20px;
        > p {
            text-align: center;
        }
    }
    .productId_box {
        width: 30%;
        display: flex;
        justify-content: center;
        background-color: aliceblue;
    }
    .review_box {
        .comment_list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            overflow-y: scroll;
            height: 235px;
            .comment {
                display: flex;
                justify-content: space-between;
                gap: 7px;
                background-color: rgb(161, 191, 191);
                >button {
                    font-family: sans-serif;
                    padding: 3px;
                }
            }
        }
        padding: 10px;
        width: 50%;
        background-color: aliceblue;
        > form {
            display: flex;
            flex-direction: column;
            .rating_box {
                display: flex;
                justify-content: space-between;
                .rating_nums {
                    display: flex;
                    gap: 8px;
                    >span {
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.2);
                            color: red;
                        }
                        transform: scale(1.1);
                    }
                }
            }
            > div {
                text-align: right;
                > button {
                    width: 80px;
                    // height: 20px;
                    font-size: 12px;
                    font-family: sans-serif;
                    margin-top: 5px;
                    cursor: pointer;
                }
            }
            > textarea {
                font-family: sans-serif;
                width: 100%;
                height: 85px;
                padding: 5px;
                border-radius: 5px;
                outline-style: none;
                border: 1px solid rgb(198, 196, 196);
            }
            .comments {
                font-size: 20px;
                font-weight: bold;
                font-family: sans-serif;
                >button {
                    font-family: sans-serif;
                }
            }
        }
    }
}
