.wishlist_wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    .wishlist_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .products_container{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 100px;
            margin-top: 30px;
            gap: 20px;
            >div {
                width: 30%;
                height: 300px;
            }
        }
        .wishlist-back{
            position: absolute;
            top: 10px;
            left: 10px;
        }
        .saved_products{
            margin-top: 30px;
            font-weight: 600;
            font-size: 20px;
        }
    }
}